.board-square {
  background-color: #3F7FBF;
  color: white;
  border-radius: 5px;
  font-size: 0.7em;
}

.board {
  padding: 10px;
  width: fit-content;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(10, 2.5em);
  grid-auto-rows: 2.5em;
  grid-gap: 0.2em;
}

.board-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 1.5em;
}

.board-left  {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 1.5em

}

.rotate90 {
  transform: rotate(90deg);
}

.board-container {
  display: grid;
  grid-template-columns: 1.5em 1fr;
  width: fit-content;
}

.carrier {
  width: 10em;
}

.battleship {
  width: 8em;
}
.cruiser {
  width: 6em;
}

.submarine {
  width: 6em;
}

.destroyer {
  width: 4em;
}

.player {
  height: 1.25em;
  background-color: grey;
  border-radius: 0.75em;
  text-align: center;
  font-size: 1.25em;

}
