.board-square {
  background-color: #3F7FBF;
  color: white;
  border-radius: 0.6rem;
  font-size: 0.7rem;
  /* outline-color: #8CB2D8;
  outline-width: 0.5px;
  outline-style: solid; */
}

.board {
  border-radius: 0.6rem;
  padding: 10px;
  width: fit-content;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(10, 2.5em);
  grid-auto-rows: 2.5rem;
  grid-gap: 0.2rem;
}

.board-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 1.5rem;
}

.board-left  {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 1.5rem

}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(90deg);
}

.board-container {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  width: fit-content;
}

.carrier {
  width: 12.3rem;
}

.battleship {
  width: 9.6rem;
}
.cruiser {
  width: 6.9rem;
}

.submarine {
  width: 6.9rem;
}

.destroyer {
  width: 4.2rem;
}

.player {
  height: 1.5rem;
  background-color: grey;
  color: black;
  border-radius: 0.75rem;
  border: solid 1px black;
  text-align: center;
  font-size: 0.9rem;
  z-index: 1;
  position: relative;
  padding-top: 0.25em;
  display: inline-block;
}

.shipyard {
  width: 10rem;
  display: inline-block;
}

.ship-position {
  position: relative;
  left:  0.5rem;
  top:   0rem;
}

div {
    box-sizing: border-box;
}

.inline {
  display: inline-block;
}

.console {
  font-family: monospace;
}

.button {
  height: 25px;
  width: 50px;
  border-radius: 5px;
  background-color: green;
  text-align: center;
}

.hit {
  color: red;
}

.miss {
  color: green;
  font-weight: bold;
}

.attacks {
  font-size: 3rem;
  font-family: monospace;
  position: relative;
  top: -1rem;
  left: 0.5rem;
  z-index: 2;
}

/*  this is used to offset the attack mark correctly when there's a ship positioned in the same square */
.attack-ship-offset {
  top: -2.5rem;
}
